:root {
    --couleur-primaire: #69c297;
    --couleur-secondaire: #69c297;
    --menu-background: black;
    --background: black;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}

body.decal {
    padding-top: 80px;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("/images/fractale1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    background: var(--menu-background);
    color: white;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

nav svg {
    width: 30px;
    margin-right: 15px;
}

footer {
    width: calc(100% - 50px);
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    background:  var(--background);
    color: white;
}

.section {
    padding: 25px;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding: 0;
}

article {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 100%;
    padding: 25px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

article:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    transform: translateY(-7px);
}

article a {
    text-decoration: none;
    color: black;
}

article h1, article p {
    background-color: rgba(0, 0, 0, 0.708);
    color: white;
    width: fit-content;
}

article h1 {
    font-size: 1.3em;
}

article p {
    font-size: 1.1em;
}

.pave {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    width: calc(100% - 100px);
    padding: 25px;
    margin: 10px auto;
    display: block;
    background-image: url('./images/chou_romanesco_fractale.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pave h1 {
    background-color: rgba(0, 0, 0, 0.708);
    color: white;
    width: fit-content;
    font-size: large;
}

.pave img {
    
}

iframe {
    width: 100%;
    border: none;
    background-image: url("/images/fractale2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}


#relou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 7px;
    background-color: white;
    color: black;
    transition: 0.3s;
}

.articleForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    width: calc(100% - 50px);
    padding: 25px;
}

.articleForm input[type='text'], .articleForm textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: white;
    color: black;
}

.articleForm input[type='submit'] {
    margin-top: 15px;
}

.bouton {
    background-color: var(--background);
    color: white;
    border: none;
    padding: .8rem 2rem;
    cursor: pointer;
}

input[type='file'] {
    display: none;
}

input[type='file'] + label {
    display: inline-block;
    padding: .5rem 1rem;
    cursor: pointer;
    border: var(--background) 1px solid;
    color: var(--background);
}
