#articles {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  padding: 0;
}

.articleLink,
.articleLink * {
  text-decoration: none;
}

.articleLink {
  flex: 1 1 300px;
  max-height: 250px;
  overflow: hidden;
}

article {
  border: 1px solid var(--background);
  padding: 25px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article,
article * {
  transition: 0.2s;
}

article h1,
article p {
  background-color: rgba(0, 0, 0, 0.708);
  color: white;
  width: fit-content;
  max-width: 100%;
  word-wrap: break-word;
}

article:hover {
  transform: translateY(-7px);
}

article:hover h1,
article:hover p {
  background-color: black;
}

article h1 {
  font-size: 1.3em;
}

article p {
  font-size: 1.1em;
}

.articleForm input[type="text"],
.articleForm textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
}

.articleForm input[type="submit"] {
  margin-top: 15px;
}

.articleForm {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--background);
  width: calc(100% - 50px);
  padding: 25px;
}

.section {
  padding: 25px;
}

.search {
  font-size: larger;
  width: 100%;
  padding: 15px;
}
