.pave {
  width: calc(100% - 100px);
  padding: 25px;
  margin: 10px auto;
  display: block;
  background-image: url("../images/fractale3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: var(--background) 1px solid;
}

.pave p,
h1 {
  background-color: rgba(0, 0, 0, 0.708);
  color: white;
  width: fit-content;
  font-size: large;
}

#contenu {
  background-color: rgba(0, 0, 0, 0.708);
  color: white;
}

.pave img {
  max-width: 100%;
  height: auto;
}
