:root {
  --couleur-primaire: #69c297;
  --menu-background: rgba(0, 0, 0, 0.679);
  --menu-blur: 7px;
  --menu-radius: 10px;
  --menu-padding: 20px;
  --background: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  overflow: overlay;
}

.titre {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  text-transform: uppercase;
}

.subtitle {
  color: white;
  background-color: var(--background);
  width: fit-content;
  font-size: 3rem;
}

body.decal {
  padding-top: 80px;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../images/fractale1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  width: calc(100% - 50px);
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  color: white;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

nav svg {
  width: 30px;
  margin-right: 15px;
}

.nav .right {
  margin-left: auto;
  background-color: red;
}

footer {
  width: calc(100% - 50px);
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  color: white;
}

iframe {
  width: 100%;
  border: none;
  background-image: url("../images/fractale2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.bouton {
  background-color: var(--background);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.bouton.outline {
  background-color: transparent;
  border: var(--background) 1px solid;
  color: var(--background);
}

.bouton.danger {
  background-color: transparent;
  border: #a12525 1px solid;
  color: #a12525;
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: var(--background) 1px solid;
  color: var(--background);
}

.link {
  text-decoration: none;
  color: var(--couleur-primaire);
}

hr {
  margin: 25px 0;
  border: 1px solid black;
}

form input[type="text"],
form input[type="password"],
form textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
}

form input[type="submit"] {
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--background);
  width: calc(100% - 50px);
  padding: 25px;
}

.section {
  padding: 25px;
}

.emptyContainer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--background);
}

.flex {
  display: flex;
}

.flex.cent-vert {
  align-items: center;
}

.fit-content {
  width: fit-content;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.full {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background-color: var(--background);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: black 2px solid;
}

.highlight {
  background-color: rgb(196, 151, 0);
  font-size: 1.4em;
  font-weight: 700;
}

.icon-1 {
  width: 25px;
  height: 25px;
}

.danger {
  color: #a12525;
}

.pointer {
  cursor: pointer;
}
